{%extends 'baabtra/baabtrahome.html' %}
{%block content%}
<br><br><br>

<h1  align="centre">Taught by industry experts</h1>
<br>
<p>
     Baabtra, the best software training company in Calicut has proved<br /> its expertise by training
     and placing several hundreds of students both<br> in MNC’s like UST Global, Infosys, Oracle etc 
     and SME’s like Nucore<br> Software Solutions, Sesame, IOSS, ULTS and many other companies<br> mainly
     in Kozhikode, Cochin, Trivandrum and Bangalore.
</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

{%endblock%}