{%extends 'baabtra/baabtrahome.html'%}

{%load static%}

{%block content%}

    <h1>baabtra</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi blanditiis nostrum mollitia impedit fuga exercitationem, doloribus repellat autem ipsa architecto illum veniam sapiente enim error magni repudiandae odio atque cumque rerum! Natus id eaque consequatur libero maiores possimus obcaecati, exercitationem quis unde quia eius? Quia at natus delectus nemo officiis incidunt quidem doloremque dignissimos? Nesciunt minima fuga est iste praesentium eveniet laborum optio ex quia possimus eaque ut incidunt eius voluptatibus, officiis nobis ipsam quod quasi quidem perspiciatis dicta, fugit unde sequi expedita. Sit, repellat delectus molestiae vel et ab hic ut, necessitatibus magnam explicabo tempore doloremque quis velit?</p>

        <img src="{% static 'images/tree-736885__480.jpg' %}" alt="">

        {%endblock%}