{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baabtra</title>
    <link rel="stylesheet" href="{% static 'css/baabtra.css' %}">
</head>
<body>
    <div>
    
        <div class="body1">
            <img  src="{% static 'images/logo.png' %}" id="logo" alt="">
            <ul>
                <li class="for">Programs</li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="for">Pacements</li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="for">About Us</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="for">Blog </li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="for">Gallery</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><button  >Enquire Now</button></li>
            </ul>
        </div>
        <div class="body2">
            <h1 class="first">LEARN SOFTWARE</h1>
            <h1 class="second">Getting a Software Job is So Easy<br> Now with our IT Internship<br> Programs.</h1>
            <p class="firstp">Learn programming from Kerala's most trusted software<br>training company with the highest placement record.<br> Enroll in software courses and internship programs in<br /> Python, Flutter, Angular and PHP to start your career.</p>
            <img id="baab"src="{% static 'images/baabtra.png' %}" alt="">
            
        
        </div>    
    </div>    
        
</body>
</html>