<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #no{
            border: 2px black solid;
            padding-top: 100px ;
            padding-right: 120px;
            padding-bottom: 160px;
            padding-left: 200px;
            
        }
        h2,#not{
            margin: 2px rgb(231, 9, 9) solid;
            margin-top: 90px;
            margin-right: 100px;
            margin-bottom: 120px;
            margin-left: 140px;
        }
    </style>
</head>
<body>
    <div id="no">
    <h1>this is heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, doloribus?</p>
    </div>
    <h2 id="not">Lorem ipsum dolor sit.</h2>
    <p id="not">Lorem, ipsum dolor.</p>
</body>
</html>